<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.howxcheng.dao.HouseDao">
    <resultMap id="house" type="cn.howxcheng.pojo.House">
        <result property="hid" column="Hid"/>
        <result property="address" column="Address"/>
        <result property="phone" column="Phone"/>
        <result property="size" column="Size"/>
        <result property="rent" column="Rent"/>
        <result property="leased" column="Leased"/>
    </resultMap>
    <select id="getHouseInfo" resultMap="house">
        select * from house
        <where>
            <if test="Hid!=''">
                and Hid = #{Hid}
            </if>
            <if test="Address!=''">
                and Address LIKE #{Address}
            </if>
            <if test="Rent!='' and MaxRent!=''">
                and Rent &gt;= #{Rent} and Rent &lt;= #{MaxRent}
            </if>
            <if test="Size!='' and MaxSize!=''">
                and Size &gt;= #{Size} and Size &lt;= #{MaxSize}
            </if>
            <if test="Admin==false">
                and Leased = 0
            </if>
        </where>
    </select>

    <delete id="deleteHouseInfo">
        delete from house
        <where>
            <if test="Hid!=null and Hid!=''">
                and Hid = #{Hid}
            </if>
        </where>
    </delete>

    <insert id="addHouseInfo" parameterType="cn.howxcheng.pojo.House" useGeneratedKeys="true" keyProperty="hid">
        INSERT INTO house (Hid, Address, Phone, Size, Rent, Leased)
        VALUES (#{hid}, #{address}, #{phone}, #{size}, #{rent}, #{leased})
    </insert>
</mapper>
