<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.howxcheng.dao.UserDao">
    <resultMap id="user" type="cn.howxcheng.pojo.User">
        <result property="uid" column="UID"/>
        <result property="username" column="userName"/>
        <result property="password" column="userAddress"/>
        <result property="email" column="houseNumber"/>
        <result property="phone" column="balance"/>
    </resultMap>

    <select id="userLogin" resultType="java.lang.Integer">
        SELECT count(Uid) FROM user
        <where>
            <if test="username!=null">
                and username = #{username}
            </if>
            <if test="password!=null">
                and password = #{password}
            </if>
        </where>
    </select>
</mapper>
